@import '../../../sass/constants.scss';

.flex_space-between {
  display: flex;
  gap: $base * 4;
  justify-content: space-between;
  align-items: center;
}

.modal-window_total {
  font-size: large;
  font-weight: 700;
}
