@import '../../../sass/constants.scss';
@import '../ModalWindow/ModalWindow.scss';
@import "../../../index.scss";
@import "../../table/tableRow/TableRow.scss";

.modal-cart {
  @extend .modal-window;

  &__currencies {
    @extend .flex_space-between;
    gap: $base * 3;
  }
  
  &__total {
    font-size: large;
    font-weight: 700;
  }
  
  &__currencies-name {
    display: flex;
    align-items: right;
    gap: $base;
    color: $color-black;
    &:hover {
      div {
        text-decoration: underline;
      }
    }
  }
  
  &__currencies-icon {
    align-self: center;
    width: $base * 4;
    height: $base * 4;
  }
  
  &__currencies-info {
    @extend .table-row__currencies-name
  }
}


