@import '../../../sass/constants.scss';

.button-primary {
  display: block;
  width: 50%;
  margin: $base * 2 auto;
  padding: $base * 2;
  font-size: $fs-xxl;
  font-weight: $fw-medium;
  border-radius: $base * 4;
  background-color: $color-primary;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    background-color: $color-link;
    transform: translate(0.04rem, 0.04rem);
  }
}
