@import '../../sass/constants.scss';

.button {
  background-color: cadetblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
  background-color: rgb(73, 129, 131);
}

}

.button-primary {
  color: $color-white;
  display: block;
 font-size: $fs-xxl;
  font-weight: $fw-medium;
  border-radius: $base * 4;
  background-color: $color-primary;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    background-color: $color-link;
    transform: translate(0.04rem, 0.04rem);
  }
}

.button-secondary {
  display: block;
  color: $color-black;
  background-color: $color-white;
  border-radius: $base * 4;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  text-align: center;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translate(0.04rem, 0.04rem);
  }

  &:active {
    background-color: $color-link;
    color: $color-white;
    transform: translate(0.125rem, 0.125rem);
  }
}

.button-delete {
  display: block;
  margin: $base * 2 auto;
  background-color: $color-primary;
  border-radius: $base * 4;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  text-align: center;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    transform: translate(0.063rem, 0.063rem);
  }

  &:active {
    transform: translate(0.125rem, 0.125rem);
  }
}
