@import '../../sass/constants.scss';

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $base * 5;
  cursor: pointer;

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-white;
    font-weight: 700;
    gap: $base * 2;
  }

  &__info-details {
    display: flex;
    gap: $base;
    @media (max-width: $breakpoint-xs-min) {
      display: none;
    }
  }  
  
  &__logo {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: $base;
    color: $color-white;
  }

  &__logo-currencies {
    @media (max-width: $breakpoint-xs-min) {
      width: $base * 12;
      height: $base * 12;
    }
  }
}

